# Data/Large Files
data/targets/*.csv
data/processed_data/
*.csv
!data/raw_data.csv
!data/raw_data/*.csv
!data/anomalies/**/*.csv
!data/normal/*.csv
*.ipynb_checkpoints

# Python Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Packaging artifacts (really should not be committed)
*.egg-info/
build/
dist/

# Model Weights/Logs
*.pt
*.pth
*.pkl
logs/
*.log

# IDE/System
.vscode/
.idea/
.DS_Store

# Produced file in document
*.bbl
